{% extends 'layout.html' %}

{% block content %}

    <div class="container">

    <div class="panel-body">
        <button type="button" class="btn btn-info"><a href="/depart/add/">新建部门</a></button>
    </div>
    <div class="bs-example" data-example-id="bordered-table">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;部门列表
            </h3>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>DEPARTMENT</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            {% for dep in depart %}
                <tr>
                    <th scope="row">{{ dep.id }}</th>
                    <td>{{ dep.title }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/depart/{{ dep.id }}/edit/">编辑</a>
                        <a class="btn btn-danger btn-xs" href="/depart/delete/?nid={{ dep.id }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
